<div class="modal fade" id="new_pin_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your boards</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <% current_user.boards.each do |board|  %>
            <%= link_to rec_pins_path(@rec, board_id: board.id), class:"list-group-item list-group-item-action", data: {turbo_method: :post} do %>
              <%= board.name %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<%# render "newmodal", board: @board %>


<%# button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#new_board_modal">
Create a new board
</button> %>
