<h1>Test </h1>

<%= form_with url: recs_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your recomendations!"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
