<div class= "container-sm">
  <div class="row"> <!-- Rec Title & Category -->
    <div class="col-sm">
      <h1><%= @rec.name %></h1>
    </div>
    <div class="col-sm">
      <h2><%= @rec.category %></h2>
    </div>
  </div>

  <div class="row"> <!-- Photos of rec -->
  </div>

  <div class="row"> <!-- Description, rating, functions, etc. -->
    <div class="col-sm-9">
      <h1><%= @rec.name %></h1>
    </div>
    <div class="col-sm-3">
      <h2><%= @rec.category %></h2>
    </div>
  </div>





</div>
