// Define variables for your color scheme

// For example:

$pink: #FF5572;
$blue: #006D85;
$light-blue: #04A1B3;
$orange: #FF8133;
$gray: #3E4E50;
$light-gray: #E9F1F7;

$red: #FD1015;
$yellow: #FFC65A;
$green: #1EDD88;
