.board-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boards-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.board-cards {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px 10px;
  padding: 10px;
}

#board-page {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 55px;
  margin-bottom: 55px;
  height: 600px;
  border-radius: 5px;
  align-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
