
h1 {
  color: $gray;
}

.background {
  background-color: $light-gray;
  border: none;
  margin-left: 0px;
  margin-bottom: 30px;
}

.pin {
  padding: 20px;
  margin: 12px;
  display: inline-block;
  width: 280px;
  background-size: cover;

  h5 {
    color: $light-gray;
    text-shadow:  0px 0px 5px $gray;
  }
}

.edit-btns {
  height: 40px;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.btn-drop-pin {
  width: 150px;
  background-color: $light-gray;
  border-color: $gray;
}

.btn-drop-sub {
  width: 30%;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
  background-color: $light-gray;
  border-color: $blue;
  font-size: 14px;
}

.dropdown {
  display: flex;
  align-items: flex-start;
}

.pins-dropdown {
  width: 80%;
  background-color: $light-gray;
  border-radius: 5px;
}

.pin-body {
  display: block;
  position: relative;
  visibility: hidden;
  transition: visibility 0.3s ease;

  p {
    font-size: 14px;
    text-align: left;
    color: $light-gray;
    text-shadow:  0px 0px 5px $gray;
  }
}

.pin-cards {
  columns: 4;
}

#hide {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.pin:hover .card-body {
  visibility: visible;
  transition: visibility 0.3s ease;
}

@media (max-width: 768px) {
  .pin-cards {
    columns: 1;
  }

  .pin {
    width: 90%;
  }
}

@media (min-width: 769px) {
  .pin-cards {
    columns: 2;
  }

  .pin {
    width: 90%;
  }
}

@media (min-width: 1025px) {
  .pin-cards {
    columns: 3;
  }

  .pin {
    width: 90%;
  }
}

@media (min-width: 1201px) {
  .pin-cards {
    columns: 4;
  }
}
