.index-content {
  display: flex;
}

.buttons-card {
  height: 86px;
  width: 100%;
  background-color: #006D85;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 12px;
  color: black;
  transition: all .2s ease-in-out;
  padding-bottom: 10px;
}

.index-search-category {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: white;

  :hover {
    transform: scale(1.02);
    transition: background 0.2s ease;
  }
}

.cat_two {
  font-size: 24px;
  background-color: #E9F1F7;
  color: #FF5572;
  width: 55px;
  height: 55px;
  padding: 14px;
  border-radius: 50px;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  text-decoration: none;
  padding-bottom: 2px;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 16px 16px;
  padding: 16px;
}

.index-map {
  width: 100%;
  height: 100%;
  border: 10px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

#map_layout {
  display: flex;
  /*height: 100vh;*/
  position: sticky;
  top: 0;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
  }
}
