.content {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  gap: 10px 10px;
  padding: 14px;
}

.index-map{

}

#map_layout {
  display: flex;
  /*height: 100vh;*/
  position: sticky;
  top: 0;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
