
h4 {
  font-size: 14px;
}

.card-title {
  color: $gray;
}

.index-content {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 16px 16px;
  padding: 18px;
}

.index-map {
  width: 100%;
  height: 100%;
  border: 10px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

#map_layout {
  display: flex;
  /*height: 100vh;*/
  position: sticky;
  top: 0;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
