<div class="footer text-center">
  <div class="footer-content">
    <div class="footer-copyright">
      <br>
      <h6>© 2023 TRECS · This project was made at <a href="https://www.lewagon.com/">Le Wagon</a></h6>
      <p> Mary Traynor · Eliza Upadhyaya · Clara Senni · Elena Rösch</p>
    </div>
    <%= image_tag("footer-balloons2.png", id: "footer-balloons") %>
    <div class="footer-links">
      <a href="https://github.com/mktraynor/TRECS"><i class="fa-brands fa-github"></i></a>
      <br>
      <p>Follow Us<p>
    </div>
  </div>
</div>
