<div class="footer">
  <div class="footer-copyright">
    This project was made with <i class="fa-light fa-heart"></i> by Mary Traynor, Eliza Upadhyaya, Clara Senni, & Elena Rösch at <a href="https://www.lewagon.com/">Le Wagon</a>
  </div>
  <div class="footer-links">
    <a href="https://github.com/mktraynor/TRECS"><i class="fa-brands fa-github"></i></a>
  </div>
</div>
