<div class="flex-page">
  <div id="home-search">
    <div id="home-search-content">
      <!-- <div class="search-placeholder">
        <p><i class="fas fa-search"></i>    Where do you want to go?</p>
      </div> -->
      <div class="home-title">
        <h1><strong>TRECS: Travel recommendations from your trusted social circle.</strong></h1>
      </div>

      <%= form_with url: recs_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search-form-homepage",
          placeholder: "What do you want to search?"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <div class="home-search-category">
        <i class="fas fa-hotel cat_one"></i>
        <i class="fas fa-landmark cat_one"></i>
        <i class="fas fa-utensils cat_one"></i>
        <i class="fas fa-cocktail cat_one"></i>
      </div>
    </div>
  </div>
  <div class="home-recents">
    <h3><strong>Top destinations</strong></h3>
    <% @boards.each do |board| %>
      <% unless board.name == "All Pins" %>
        <%= board.name %>
      <% end %>
    <% end %>
  </div>
</div>
