<div class="modal fade" id="edit_pin_modal_<%= pin.id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Move pin to another board</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <% boards.each do |board| %>
            <%= link_to pin_path(pin, board_id: board.id), class:"list-group-item list-group-item-action #{"list-group-item-danger" if pin.board == board}", data:{turbo_method: :patch} do %>
              <%= board.name %>
              <%# class: "list-group-item-primary" if current_board %>
            <% end %>
          <% end  %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>



<%# current_board = @pin.board %>
