<div class= "content">

  <div class="col-sm-8">
    <div class= "cards">
    <% @boards.each do |board| %>
      <div class="card">
        <div class="card-title">
              <br>
              <h5><strong><%= board.name%></strong></h5>
        </div>
        <div class="card-body">
        <%= link_to "See more", board_path(board), class: "btn-ghost" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div>
  <%= link_to "Create new board", new_board_path, class: "btn-ghost" %>
  </div>

</div>
