<div class= "show-container">
  <div class="showcard">
    <div class= "container-sm">
      <div class="row" style="text-align: center;">
        <h1><strong>Create a New Board</strong></h1>
      </div>
      <br>
      <div class="row">
        <%= simple_form_for @board do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, class:"btn-primary" %>
        <% end %>
      </div>
       <br><br><br>

    </div>
  </div>
</div>
