<div>
<h1><%= @board.name %></h1>
</div>

<div>
  <% if policy(@board).edit? %>
    <%= link_to "Edit", edit_board_path(@board), class: "btn btn-primary" %>
  <% end %>
  <% if policy(@board).destroy? %>
    <%= link_to "Delete", board_path(@board), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <% end %>
</div>
