.card {
  height: 440px;
  width: 440px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 12px;
  color: black;
  transition: all .2s ease-in-out;
  padding-bottom: 10px;
}

.card:hover {
  transform: scale(1.02);
  border: 2px solid #FF5572;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  transition: background 0.1s ease;
}

.index-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}
