.footer {
  background-color: $light-blue;
  height: 150px;
  width: 100%;
  color: $light-gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  p {
    font-size: 14px;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}

.footer-copyright {
  text-align: left;
  font-family: "Montserrat", "Helvetica", "sans-serif";

  a {
    color: $light-gray;
    transition: 0.3s ease;
  }

  a:hover {
    color: $blue;
  }
}

#footer-balloons {
  width: 150px;
  height: 150px;
}

.footer-links {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: $light-gray;
  height: auto;
  padding-top: 10px;
}
.footer-links a {
  color: $light-gray;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
  transition: 0.3s ease;
}
.footer-links a:hover {
  opacity: 1;
  color: $blue;
}
