.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.container-fluid {
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 125px;
}

.boards-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-form-nav {
  padding: 8px 10px 8px 20px;
  border-radius: 50px;
  background-color: $light-gray;
  border: 0.1px solid $blue;
  color: $gray;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 410px;
  height: 60%;
}

#recommend {
  margin-right: 10px;
}
