.show-container {
  display: flex;
  justify-content: space-around;
}

.showcard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 1px solid lightgrey;
  p {
    font-size: 20px;
  }
  color: black;
  background-color: white;
  padding-top: 15px !important;
}

.show-img {
  width: auto;
  height: 100%;
  border: 10px;
  border-right: 14px;
  border-radius: 6px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
